In [1]:
# Import Dependencies
import locale
import numpy  as np
import pandas as pd

In [2]:
election_file = "Resources/election_data.csv"

In [3]:
# Import the budget_data.csv as Dataframe
election_file_pd = pd.read_csv(election_file,encoding="utf-8")
election_file_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
# Total number of votes cast
total_votes = election_file_pd['Voter ID'].count()
print ('Total votes cast: ' + str(total_votes))

Total votes cast: 3521001

In [19]:
election_file_pd.groupby('Candidate').sum()[['Voter ID']]

                 Voter ID
Candidate
Correy     10560932672382
Khan       33278049361942
Li          7394793601780
O'Tooley    1584140709616