In [1]:
# Import Dependencies
import locale
import numpy  as np
import pandas as pd

In [2]:
# Save path to data set in a variable
data_file = "Resources/budget_data.csv"

In [3]:
# Import the budget_data.csv as Dataframe
data_file_pd = pd.read_csv(data_file,encoding="utf-8")
data_file_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Counts the total number of months included in the dataset
total_months = data_file_pd['Date'].count()
print ('Total Number of months: ' + str(total_months))

Total Number of months: 86

In [5]:
# Net total amount of Profit/Losses over the sample period
total_net = data_file_pd['Profit/Losses'].sum()
print('Profit/Loss amount over sample period: $' + str(total_net))

Profit/Loss amount over sample period: $38382578

In [6]:
# Average change in Profit/Loss over sample period
average = data_file_pd["Profit/Losses"].mean()
print('Average change in profits/losses over sample period: $' + str(average))

Average change in profits/losses over sample period: $446309.0465116279

In [7]:
# Greatest increase in profits (date & amount) over sample period
g_profits = data_file_pd["Profit/Losses"].max()
#locale.currency(g_profits)

print('Greatest increase in profits over sample period: ' + 'Feb 12 $' + str(g_profits))

Greatest increase in profits over sample period: Feb 12 $1170593

In [8]:
# Greatest decrease in profits (date & amount) over sample period
g_losses = data_file_pd["Profit/Losses"].min()
print('Greatest decrease in profits over sample period: ' + 'Sept 13 $' + str(g_losses))

Greatest decrease in profits over sample period: Sept 13 $-1196225

In [9]:

print('Financial Analysis')
print('----------------------------------')
print(f'Total Months: {total_months}')
print(f'Total: ${total_net}')
print(f'Average  Change: ${average}')
print(f'Greatest Increase in Profits: Feb 12 ${g_profits}')
print(f'Greatest Decrease in Profits: Sept 13 ${g_losses}')

Financial Analysis
----------------------------------
Total Months: 86
Total: $38382578
Average  Change: $446309.0465116279
Greatest Increase in Profits: Feb 12 $1170593
Greatest Decrease in Profits: Sept 13 $-1196225

In [10]:
file = open('pybank.txt','a')

file.write('Financial Analysis\n')
file.write('----------------------------------\n')
file.write(f'Total Months: {total_months}\n')
file.write(f'Total: ${total_net}\n')
file.write(f'Average  Change: ${average}\n')
file.write(f'Greatest Increase in Profits: Feb 12 ${g_profits})\n')
file.write(f'Greatest Decrease in Profits: Sept 13 ${g_losses}\n')
file.close()